body {
	margin-top: 100px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
	margin: 50px 0;
}

.navbar-inverse {
	background-color: #428bca;
	border-color: #285e8e;
}

.navbar-inverse .navbar-brand {
	color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-inverse .navbar-toggle {
	background-color: #428bca;
	border-color: #285e8e;
}

.navbar-inverse .navbar-toggle:hover,focus {
	background-color: #285e8e;
	border-color: #285e8e;
}

.code-font {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.post-list li {
	margin: 0px 0px 10px 0px;
}

.footer .row {
	line-height: 40px;
}

.footer-social-icons {
	font-size: 25px;
}

.post-author-photo {
	margin-right: 10px;
}

.twitter-line {
	font-size: 12pt;
}

.blue-icon {
	color: #428bca;
}

.so-widget {
	padding-top: 10px;
	padding-bottom: 10px;
}