---
layout: default
title: My UIViews
---

{% for post in paginator.posts %}
	<!-- blog entry -->
	<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
	<hr/>
	<p><span class="glyphicon glyphicon-calendar"></span> Posted on {{ post.date | date: '%B %d, %Y' }}</p>
	{{ post.excerpt }}
	<a class="btn btn-primary" href="{{ post.url }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
	<br/><br/><br/>
{% endfor %}

<!-- pager -->

<!-- Pagination links -->

<ul class="pager">
  {% if paginator.previous_page > 1 %}
  	<li class="previous"><a href="/page{{ paginator.previous_page }}">&larr; Newer</a></li>
  {% elsif paginator.previous_page == 1 %}
  	<li class="previous"><a href="/">&larr; Newer</a></li>
  {% endif %}
  <li>Page: {{ paginator.page }} of {{ paginator.total_pages }}</li>
  {% if paginator.next_page %}
    <li class="next"><a href="/page{{ paginator.next_page }}">Older &rarr;</a></li>
  {% else %}
    <li class="next"></li>
  {% endif %}
</ul>